
    .containerNewOp {
      max-width: 600px;
      height: 680px;
      margin: 50px auto;
      background-color: #fff;
      padding: 60px;
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border: 2px solid #E73838;
    
    }
    
    .login-form h2 {
      margin-bottom: 30px;
      margin-top: 40px;
      text-align: center;
      font-size: 22px;
    }
    
    .login-form h3 {
      font-weight: normal;
      text-align: center;
      padding: 5px;
      margin-top: 5px;
      margin-bottom: 40px;
      font-size: 17px;
    }
    
    .form-row {
      display: flex;
      justify-content: space-between;
    }
    
    .formNewOp-group {
      flex-basis: calc(50% - 10px);
    }
    
    css
    Copy code
    .formNewOp-group input[className="text"],
    .formNewOp-group input[type="password"],
    .formNewOp-group input[type="email"],
    .formNewOp-group input[type="tel"],
    .formNewOp-group input[type="checkbox"] {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 10px; /* Définir le border-radius à 10px pour tous les champs */
      box-sizing: border-box;
    }


    
    #firstNameNewOp,#lastNameNewOp{
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 10px; /* Définir le border-radius à 10px pour tous les champs */
      box-sizing: border-box;


    }
    .form-row button {
      display:flex;
      width: 100%;
      padding: 15px;
      background-color: #E73838;
      margin-top: 10px;
      color: #fff;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }
      .formNewOp-group button {
      width: 95%;
      padding: 15px;
      background-color:#E73838;
      margin-left:10px;
      color: #fff;
      border: none;
      margin-top:"5px";
      border-radius: 10px;
      cursor: pointer;
    }
        
      
    
    .formNewOp-group button:hover {
      background-color: #0056b3;
    }
    
    p {
      text-align: center;
      margin-top: 20px;
    }
    
    p a {
      color: #007bff;
      text-decoration: none;
    }
    
    p a:hover {
      text-decoration: underline;
    }
    
    .checkboxi {
      display: flex;
      align-items: center;
    }
    
    #rememberMe {
      margin-right: 5px;
      
    }

   
    

      .input-style {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
     
        
      }
      
      
      #confirmPassword,#password,#phoneNumber,#email,#lastNameNewOp,#firstNameNewOp{
        width:200px;
        height:40px
      }
