.flightbooking3-container {
  background-image: url("https://cdn-forum.inibuilds.com/monthly_2022_05/1969414645_Capturadepantalla(3485).png.b711db33dce055ea46cc5f56359a4258.png");
  background-size: cover; /* Pour couvrir toute la surface */
  background-position: center; /* Pour centrer l'image */
  min-height: 100vh; /* Pour s'assurer que le conteneur prendra au moins 100% de la hauteur de la vue */
}
.custom-button {
  background-color: #e73737;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease, color 0.3s ease;
}

.custom-button:hover {
  background-color: #b72b2b; /* Couleur plus foncée pour le hover */
}

.custom-button.clicked {
  background-color: white;
  color: black;
}
.seat-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seat-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.seat {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  cursor: pointer;
  color: white;
}

.seat.reserved {
  background-color: #f00;
}

.seat.available {
  background-color: darkgreen;
}

.seat:hover {
  background-color: lightgreen;
}
