.Button:hover{
    transform: scale(1.2);
}
.button {
    padding: 5px 10px;
    font-size: 12px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: black;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s;
  }
  
  .button.large {
    padding: 15px 30px;
    font-size: 20px;
  }
  
  .button.medium {
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .content {
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
  