
    
    .container {
      max-width: 500px;
      margin: 50px auto;
      background-color: #fff;
      height:490px;
      padding: 60px;
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border: 2px solid #E73838;
    }
    
    .verification-form h2 {
      margin-bottom: 30px;
      margin-top: 40px;
      text-align: center;
      font-size: 22px;
    }
    
    .verification-form h3 {
      font-weight: normal;
      text-align: center;
      padding: 5px;
      margin-top: 5px;
      margin-bottom: 40px;
      font-size: 17px;
    }
    
    .form-group {
      display: flex;
      justify-content: space-between;
    }
    
    .form-group input[type="text"] {
      width: calc(25% - 5px);
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      text-align: center;
    }
    
    .form-group input[type="text"]:focus {
      outline: none;
      border-color: #007bff;
    }
    
    .form-group input[type="text"]::-webkit-input-placeholder {
      text-align: center;
    }
    
    .form-group button {
      width: 100%;
      padding: 15px;
      background-color: #E73838;
      margin-top: 10px;
      color: #fff;
      border: none;
      border-radius: 10px;
    }  

    .Logo{
        display:flex;
        justify-content:center;
        align-items:center
    }


   span p  {
      color: #007bff;
      text-decoration: none;
      margin-bottom:5px;
    }
    
   span  p :hover {
      text-decoration: underline;
    }

    span.first {
      color: black;
      text-decoration: none;
      margin-bottom: 5px;
    }
    
    span.second {
      color: #007bff; /* Vous pouvez modifier la couleur si nécessaire */
      text-decoration: none;
      margin-bottom: 5px;
    }
    
  
    span.second:hover {
      text-decoration: underline;
      cursor:pointer
    }
    