
  
  .containerForgotPass {
    max-width: 34rem;
    height: 34rem;
    margin: 50px auto;
    background-color: #fff;
    padding: 2.75rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #E73838;
  }
  
  .ForgotpassForm h3{
    font-weight:normal;
    font-size: 1.25rem;
    padding:0 auto;
    margin-bottom: 12px;
  }
  
  .ForgotpassForm h1 {
    margin-bottom: 1.25rem;
    margin-top:0.75rem;
    text-align: center;
      font-size: 1.5rem;
  }
  
  .Forgotpassgroup {
    margin-bottom: 1.075rem;
  }
  
  .Forgotpassgroup label {
    display: block;
    margin-bottom: 5px;
  }
  
  .Forgotpassgroup input[type="text"],
  .form-group input[type="checkbox"] {
    width: 96%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .Forgotpassgroup button {
    width: 95%;
    padding: 1rem;
    background-color:#E73838;
    margin-bottom:"5px";
    margin-left:"0.75rem";
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .Forgotpassgroup button:hover {
    background-color: #0056b3;
  }
  
  p {
    text-align: center;
  }
  
  p Link {
    color: #007bff;
    text-decoration: none;
    margin-bottom:5px;
  }
  
  p Link:hover {
    text-decoration: underline;
  }
  
  #emailForg{
    border-radIus:0.9rem;
    padding:0.9rem;
    
  }
  
  .Logo{
    width: 4rem;
height: 4rem;
flex-shrink: 0;
fill: linear-gradient(90deg, #EE4546 0.03%, #E02A29 99.99%);

  }
  
  .Question{
    margin-bottom:"5px";
  }