.SideBar{
    display: inline-flex;
    height: 1080px;
    padding: 25px 12px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    
}


.upperSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}
.lowerside{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}

.photo{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.logo{
    width: 56.126px;
    height: 56.004px;
    margin-right: 20px;
    margin-bottom: 30px;
    
}

.Inbox{
 display: flex;
width: 74px;
padding: 7px 5px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2px;
}
.Analytics{ display: flex;
    width: 74px;
    padding: 7px 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;}
.Notifs{ display: flex;
    width: 74px;
    padding: 7px 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.Archived{ display: flex;
    width: 74px;
    padding: 7px 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;}
.Settings{ display: flex;
    width: 74px;
    padding: 7px 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;}

    h6{
        color: var(--Status-Inactive, #78787A);
        text-align: center;
        font-family: Poppins;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .photoMan{
        display: flex;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
width: 30.159px;
height: 30px;
border-radius: 9px;
    }


    .analytics,.setting, .bold , .notifications , .inbox ,.archived , .imagehomme , .flag , .search  {
        cursor: pointer;
        transition: transform 0.2s;
    }
    
    .analytics:hover,.setting:hover, .bold:hover , .notifications:hover , .inbox:hover ,.archived:hover, .imagehomme:hover, .flag:hover , .search:hover   {
        transform: scale(1.1);
    }
    

    
