.MessengingContainer {
    display: flex;
   

  }
  
  .RightSideBar{
    margin-top:-50px;
  }
  @media(max-width:400px){
    .SideBar{
      display:none;
    }

    .RightSideBar{
      display:none;
    }

    .chatRoom{
      display:none;
    }
    
   
   

  }

  