
  
  .containerReset {
    max-width: 32rem;
    height:36rem;
    margin: 3rem auto;
    background-color: #fff;
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border:2px solid #E73838
    
    
  }
  
  .login-form h2 {
    margin-bottom: 30px;
    margin-top:40px;
    text-align: center;
      font-size: 22px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
 
  .form-group input[type="password"]
 {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group button {
    width: 10rem;
    padding: 1rem;
    background-color:#E73838;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .form-group button:hover {
    background-color: #0056b3;
  }
  
  p {
    text-align: center;
  }
  
  p a {
    color: #007bff;
    text-decoration: none;
    margin-bottom:5px;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  

  
  
  .login-form h3{
    font-weight:normal;
    text-align:center;
    padding:5px;
    margin-top:5px;
   margin-bottom:40px;
    font-size:17px;
  }
  
  #ConfirmPassword,#NewPassword{
border-radius:0.5rem;
padding:0.7rem
  }
  .ResetPass{
    display:flex;
    justify-content:center
  }