
  
  .containerWelc {
    max-width: 555px;
    height:620px;
 
    
    background-color: #fff;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #E73838;
  }
  
  .WelcForm h3{
    font-weight:normal;
    font-size: 18px;
    padding:0 auto;
    margin:20px
  }
  
  .WelcForm h2 {
    margin-bottom: 30px;
    margin-top:10px;
    text-align: center;
      font-size: 22px;
  }
  
  .Welcgroup {
 
    padding:5px
    
  }
  
  .Welcgroup label {
    display: block;
    margin-bottom: 5px;
  }
  
  .Welcgroup input[type="text"],
  .Welcgroup input[type="password"],
  .Welcgroup input[type="checkbox"] {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .Welcgroup button {
    width: 95%;
    padding: 15px;
    background-color:#E73838;
    margin-left:10px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .Welcgroup button:hover {
    background-color: #0056b3;
  }
  
  p {
    text-align: center;
  }
  
  p a {
    color: #007bff;
    text-decoration: none;
    margin-bottom:5px;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  
  #emailPhoneWelc,#passwordWelc{
    border-radIus:14px;
    padding:15px;
    
  }
  
  .LogoWelc{
    width: 56.126px;
height: 56.004px;
flex-shrink: 0;
fill: linear-gradient(90deg, #EE4546 0.03%, #E02A29 99.99%);

  }
  
 .CheckboxWelc{
  display:flex;

 } 

 